{% extends "base_polls.html" %}
{% block content %}
    <h1>성적관리프로그램</h1>
    <p>성적 입력 / 성적 출력 / 성적 편집 / 성적 삭제 기능 </p>
    <a href="{% url 'sungjuk:sungjuk_new' %}"><h4>성적 입력</h4></a>
    <div class="container">
        <h5>데이터 다운 및 업로드</h5>
        / csv파일 다운로드 / csv파일 업로드 / excel파일 다운로드 / excel파일 업로드
        <h5>성적 테이블</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>이름</th><th>국어</th><th>영어</th><th>수학</th><th>총점</th><th>평균</th>
                    <th>편집</th><th>삭제</th>
                </tr>
            </thead>
            <tbody>
                {% for sungjuk in object_list %}
                    <tr>
                        <td>{{ sungjuk.name }}</td><td>{{ sungjuk.kor }}</td><td>{{ sungjuk.mat }}</td>
                        <td>{{ sungjuk.eng }}</td><td>{{ sungjuk.tot }}</td><td>{{ sungjuk.avg }}</td>
                        <td><a href="{% url 'sungjuk:sungjuk_edit' sungjuk.id %}">edit</a></td>
                        <td><a href="{% url 'sungjuk:sungjuk_delete' sungjuk.id %}">delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
