<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>1124</display-name>
  
  <servlet>
    <servlet-name>n</servlet-name>
    <servlet-class>mysqltest.registerProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>n</servlet-name>
    <url-pattern>/regpro</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>select</servlet-name>
    <servlet-class>mysqltest.selectProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>select</servlet-name>
    <url-pattern>/abcc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>select_as_json</servlet-name>
    <servlet-class>mysqltest.selectProcessJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>select_as_json</servlet-name>
    <url-pattern>/ppp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>delete_row1</servlet-name>
    <servlet-class>mysqltest.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_row1</servlet-name>
    <url-pattern>/deldel1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>edit_data</servlet-name>
    <servlet-class>mysqltest.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_data</servlet-name>
    <url-pattern>/ediedit</url-pattern>
  </servlet-mapping>  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>