extends layout
block content

	//h1= title
	h1 JW
	p Welcome to #{title}

	#wrapper
	
		#studentInfo
			h2 Student Info
			p
			strong Name:
			|  <span id='studentInfoName'></span>
			br
			strong Kor:
			|  <span id='studentInfoKor'></span>
			br
			strong Eng:
			|  <span id='studentInfoEng'></span>
			br
			strong Math:
			|  <span id='studentInfoMath'></span>
			br
			strong Avg:
			|  <span id='studentInfoAvg'></span>


		h2 Student List
		#studentList
			table
				thead
					th Student ID
					th Student Name
					//th Email
					th Delete?
				tbody

		h2 Average
		#showavg
			table
				thead
					th classavg
				tbody

		h2 Add Student
		#addStudent
			fieldset
				table
					tbody
						tr
							th ID
							td
								input#inputStudentID(type='text', placeholder='Student ID')
							th Name
							td
								input#inputStudentFullName(type='text', placeholder='Name')
						tr
							th Kor
							td
								input#inputStudentKor(type='text', placeholder='Kor')
							th Eng
							td
								input#inputStudentEng(type='text', placeholder='Eng')
							th Math
							td
								input#inputStudentMath(type='text', placeholder='Math')
						tr
							td
							td
							td
								button#btnAddStudent 학생추가
							td
								button#btnUpdateStudent 학생정보변경
