doctype html
html
	head
		title= '제목이다 아이가~'
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src='/javascripts/global.js')
